@import url('https://fonts.googleapis.com/css?family=Open+Sans');  

 /* Main Body */
body {
    font-family: 'Raleway', sans-serif;  
    color: #1D1E18;
    font-size: 15px;
    background: white;
    padding: 0; 
    margin: 0;
}  
/* ,#FFFAFA */
 h1, h2, h3, p {text-align: center;}

/******************* sidebar box **************************/
.navbar {  
    margin-top: 0;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: RGB(115,115,115) ; 
    font-size: 1.4em; 
    overflow: auto;
}  

/* #1D1E18  */
/* Sidebar text */
.navbar a { 
    text-decoration: none;
    display: block; 
    color: white; 
    padding: 12px;  
    text-transform: uppercase; 
    text-align: center;   
    position: relative;
    top: 40%;  
}    

.navbar h1 {
    text-decoration: none;
    display: block; 
    font-size: 1.2em; 
    color: #1D1E18; 
    padding: 12px;  
    text-transform: uppercase; 
    text-align: center;   
    position: relative;
}
 
.navbar img {
    display: block;  
    size: relative;
    border-radius: 50%;  
    margin-bottom: auto;   
    margin-left: auto;
    margin-right: auto;  
    max-width: 70%; 
    height: auto; 
}
/* Sidebar text Current page */ 
.navbar a.active {
    color: #111;
} 

/* Hover Change */  
.navbar a:hover {
    color: #111;
}  

/***********************************************************/
/* main page content */ 
.intro { 
    position: relative;  

    margin-left: 20%;  
    margin-right: none;  
    padding: 5px 5px;   
    padding-top: 75px;
    padding-bottom: 35px;
    height:100%;    
    font-size: 1.0em; 
}     

.intro img {  
    display: block;  
    size: relative;
    border-radius: 50%;  
    margin-bottom: auto;   
    margin-left: auto;
    margin-right: auto;  
    max-width: 100%; 
    height: auto; 
    } 
.intro h1 {    
    color: #111;
    text-align: center;
    text-transform: capitalize;  
    text-emphasis: none;
    text-decoration: none;
    padding: none; 
    letter-spacing: 1px;
} 
 

.about {  
    position: relative;
    margin-left: 20%;  
    margin-right: none;  
    padding-top: 35px; 
    padding-bottom: 35px;
    padding: 5px 5px; 
    height:100%;  
    object-fit: contain;    
    /* background-color: #567d8a;  */
}   

.about h1 {
    text-align: Center;  
    text-transform: capitalize;
}  

.about h2 {
    text-transform: capitalize;
} 

.about a {
    text-decoration: none;
}

.about button { 
    text-decoration: none;
    background-color:RGB(115,115,115);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1.4em;  
    text-transform: uppercase; 
    align-items: center;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;   
  } 

  /* Darker background on mouse-over */
.about button:hover { 
    text-decoration: none;
    color:#1D1E18; 
  } 

.projects {
    position: relative;
    margin-left: 20%;  
    margin-right: none; 
    padding: 10px -5px; 
    height:100%;  
    object-fit: contain;  
}  

/************ JOB SECTION **********/  


.jobs-container { 
    padding: 0; 
    margin: none; 
    box-sizing: border-box; 
    width: 90%;
    margin: auto;
    }  
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card { 
    margin: 2px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: 0.3s; 
    background-color: #e6e6e6; 
    text-align: center; 
} 

.card img {
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 15px;
}

.card h1 {font-size: 18px; text-transform: capitalize;}

.card p {padding-left: 15px; padding-right: 15px; padding-top: none; text-align: justify;}

.list {
    text-align: left;
    list-style: inside;
}
/* 
CONTACT SECTION  */ 
.contact {  
    position: relative;
    margin-left: 20%;  
    margin-right: none;  
    padding-top: 35px; 
    padding-bottom: 35px;
    padding: 5px 5px; 
    height:100%;  
    object-fit: contain;    
    /* background-color: #567d8a;  */
}    

.contact button { 
    text-decoration: none;
    background-color:RGB(115,115,115);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 1.4em;  
    text-transform: uppercase; 
    align-items: center;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 30px;   
  } 

  /* Darker background on mouse-over */
.contact button:hover { 
    text-decoration: none;
    color:#1D1E18; 
  } 
.contact a {
    text-decoration: none;
}

/***********************************************************/


@media screen and (max-width: 1500px) { 
    .card {
        width:40%;
    }
} 

@media screen and (max-width: 1200px) { 
    .card {
        width:75%;
    }

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 600px) {
    .navbar {
      width: 100%;
      height: auto;
      position:fixed;  
      z-index: 9999;
    }
    .navbar a {float: left; text-align: center;
    font-size: .8em} 
    .intro {margin-left: 0%; position: relative;} 
    .about{margin-left:0%}   
    .projects{margin-left: 0%;} 
    .contact{margin-left: 0%;}
    .card {
        width:100%;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .navbar a {
      text-align: center;
      float: none;
    } 
    div.Intro {margin: none;} 
    div.about{margin: none;} 
    div.job{margin:none;}
  }